
#body {
	background: url('img/wood-background.jpg');

}
#header {
	color: white;
	margin: 10px;
	border: 1px white;
}
.container {
	font-family: arial;
	margin: 10px;
}

#headline {
	color: white;
	font-size: 160%;
}

.body {
	display: none;
}

.body.show {
	display: block;
	background: white;
	border-left: 4px dotted #D4D4D0;
	padding: 10px;
	color: black;
}

.messageList {
	background: #4A4845;
	opacity: 0.9;
	color: white;
	padding: 10px;
	border: 1px solid black;
}

.sender {
	font-size: 120%;
}

.date {
	float: right;
	font-size: 80%;
	font-weight: normal;
}
.list-group {
	margin-top: 60px;
}
.list-group-item {
	align: center;
	opacity: .9;
	font-weight: bold;
}