
.container {
	font-family: arial;
	margin: 10px;
}


.messageList {
    border: 1px solid black;
    margin: 2px;
    padding: 10px;
}

.body {
	display: none;
}

.body.show {
	display: block;
	background: white;
	margin: 5px;
	border-left: 4px dotted #D4D4D0;
	padding: 10px;
}

.messageList {
	background: #E5E5E1;
}
